* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubik, sans-serif;
  margin: 0;
  overflow: hidden;
}
#canvas {
  border: 1px solid black;
}

#left-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#color-picker {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 5px solid gray;
  background-color: black;
}
#change-sides {
  position: relative;
  bottom: 0;
}

#change-sides > svg {
  background-color: white;
  color: blue;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 5px solid black;
}

#color-selection {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd5;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #111a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 10px;
  backdrop-filter: blur(5px);
}
#color-selected {
  background-color: black;
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.slider-container {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* Styling the slider input */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ccc;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

/* Styling the slider thumb (handle) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f22;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid red;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f22;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid red;
}

#slider2::-webkit-slider-thumb {
  border: 1px solid green;
  background: #181;
}

#slider3::-webkit-slider-thumb {
  background: #22f;
  border: 1px solid blue;
}

#slider4::-webkit-slider-thumb {
  background: black;
  border: 1px solid black;
}
#slider2::-moz-range-thumb {
  border: 1px solid green;
  background: #1d1;
}

#slider3::-moz-range-thumb {
  border: 1px solid blue;
  background: #22f;
}

#slider4::-moz-range-thumb {
  border: 1px solid black;
  background: black;
}
/* Styling the slider value display */

.slider-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-val {
  background-color: white;
  border: 1px solid #4b4b4b;
  font-size: 0.8rem;
  padding: 3px 4px;
  min-width: 40px;
  border-radius: 4px;
  margin-left: 8px;
}
#slider1-value {
}
